<ul class="mdl-list">
  <li class="mdl-list__item mdl-list__item--four-line">
    <span class="mdl-list__item-primary-content">
      When four or more people are shot in an event, or related series of events.
    </span>
  </li>
  <li class="mdl-list__item mdl-list__item--two-line">
    <span class="mdl-list__item-primary-content">
      {{{displayDateRange}}}
    </span>
  </li>
  <li class="mdl-list__item no-padding">
    <span class="mdl-list__item-primary-content">
      {{{displayCount}}}
    </span>
  </li>
  <li class="mdl-list__item no-padding">
    <span class="mdl-list__item-primary-content">
      {{{deadCount}}}
    </span>
  </li>
  <li class="mdl-list__item no-padding">
    <span class="mdl-list__item-primary-content" >
      {{{injuredCount}}}
    </span>
  </li>
</ul>
