<div class="mdl-grid">
  {{usa-map
    width=width
    map=map
    data=groupByLocation
    cluster=cluster
    highlighted=filteredData
    y=y
  }}
  {{d3-linechart
    data=groupedByDate
    highlighted=filteredData
    accessors=accessors
    cluster=cluster
    date=date
    x=x
    y=y
    width=width
   }}
</div>

